@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --black : black;
    /* --blue : rgb(78, 20, 193); */
    --blue : #6674CC;
    --orange : rgb(255, 169, 10);
    --gray : rgb(250, 250, 250);
}
.btn-filled{
    padding: 0.8rem 1.4rem;
    background-color: var(--blue);
    border-radius: 8px;
    color: white;
    max-width: 9rem;
}
.btn-black{
    padding: 0.9rem 1.7rem;
    background-color: var(--black);
    border-radius: 8px;
    color: white;
    max-width: 12rem;
}
.btn-outlined{
    padding: 0.6rem 1.4rem;
    border: 2px solid var(--blue);
    border-radius: 8px;
    background-color: transparent;
    color: var(--blue);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    font-size: 3rem;
}
h3{
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;
}
h4{
    font-size: 1.2rem;
}
html{
    scroll-behavior: smooth;
    font-size: 100%;
    display: flex;
    justify-content: center;
}
body{
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    overflow-x: hidden;
}


/* +++++++++++++++++++++++++++++++++++ NAVBAR - SECTION +++++++++++++++++++++++++++++ */
#navbar{
    padding: 1rem 0;
    /* max-width: 1400px; */
    width: 100%;
    height: 4.5rem;
    /* border:2px solid red; */
    background-color: white;
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.nav-left{
    margin-left:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left h3{
    line-height: 1.4rem;
    letter-spacing: -0.1rem;
    text-align: center;
}
.nav-left h3 span{
    color: var(--orange);
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;
}
.nav-right{
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.nav-right ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


/* +++++++++++++++++++++++++++++++++++ landing section - SECTION +++++++++++++++++++++++++++++ */
.landing-section{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 2rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
    /* border: 2px solid red; */
    background-color: var(--gray);
}
.landing-upper-part{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 7rem;
    /* border: 2px solid red; */
}
.landing-upper-part-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    padding: 1rem 2rem;
}
.landing-upper-part-image{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding: 1rem 2rem;
}
.landing-upper-part-image img{
    width: 450px;
    height: 300px;
}
.video-part{
    width: 340px;
    margin-top: -90px;
    height: 190px;
    /* border: 2px solid green; */
    position: absolute;
}
.video-part video{
    width: 100%;
    height: 100%;
}
.landing-lower-part{
    width: 100%;
    max-width: 1400px;
    display: flex;
    /* gap: 3rem; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    /* border: 2px solid red; */
}
.landing-lower-part-element{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.landing-lower-part-element img{
    width: 20px;
    height: 20px;
}

/* +++++++++++++++++++++++++++++++++++ offer section - SECTION +++++++++++++++++++++++++++++ */
.offer-section{
    width: 100%;
    max-width: 100%;
    padding: 4rem 4rem;
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    z-index: 100;
    position: relative;
}
.offer-section h1{
    font-size: 2.3rem;
}
/*++++++++++++++++++++++++++++++++ overview section - SECTION +++++++++++++++++++++++++++++ */
.overview-section{
    position: relative;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 3rem 3rem;
    background-color: var(--gray);
}

.overview-section-first-column{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
}
.overview-section-first-column-points{
    display: flex;
    gap: 0.4rem;
    max-width: 300px;
    width: 100%;
    text-align: left;
}
.overview-section-first-column-points img{
    width: 25px;
    height: 25px;
}
.overview-section-second-column{
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
}
.overview-section-second-column img{
    width: 40px;
    height: 40px;
}
.overview-section-second-column span{
    color: var(--blue);
}
.overview-section-third-column{
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
}
.overview-section-third-column img{
    width: 40px;
    height: 40px;
}
.overview-section-third-column span{
    color: var(--blue);
}

/* +++++++++++++++++++++++++++++++++++ whats-new section - SECTION +++++++++++++++++++++++++++++ */
.whats-new-section{
    background-color: var(--black);
    width: 100%;
    max-height:100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 3rem;
    position: relative;
}
.whats-new-section-overlay{
    width:100%;
    height: 100%;
    position: absolute;
    left:0;
    bottom: 0%;
    /* border:2px solid #3241a5; */
    overflow: hidden;
    z-index: 0;
}
.blue-circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:#6674CC;
    position: absolute;
    top: -10%;
    left: -5%;
}
.orange-circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color:var(--orange);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
}
.whats-new-section-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    color: white;
    /* border: 2px solid red; */
    padding: 2rem 1rem;
    z-index: 10;
}
.whats-new-section-left p{
    max-width: 550px;
}
.whats-new-section-left .btn-filled{
    max-width: 15rem;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1.9rem;
    margin-top: 3rem;
}
.whats-new-section-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
    z-index: 10;

}
.whats-new-section-right-card-col1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.col-card{
    padding: 1.5rem 2rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 170px;
    height: 110px;
}
.col-card p{
    font-size: 0.6rem;
    max-width: 150px;
    text-align: center;
}
/* +++++++++++++++++++++++++++++++++++ all-topics section - SECTION +++++++++++++++++++++++++++++ */
.all-topics-section{
    width: 100%;
    max-width: 1400px;
    background-color: var(--gray);
    padding: 4rem 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
}
.all-topics-section-first-col{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 4rem;
}
.all-covered-topics{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: 2px dotted red; */
}
.topics-covered-points{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    /* border: 2px solid red; */
}
.topics-covered-points img{
    width: 9px;
    height: 12px;
}
.all-topics-section-second-col{
    padding-top: 2.6rem;
}

/* +++++++++++++++++++++++++++++++++++ road-map section - SECTION +++++++++++++++++++++++++++++ */
.roadmap-section{
    width: 100%;
    max-width: 1400px;
    padding: 3rem 3rem;
    background-color: #343853;
    text-align: center;
    color: white;
}
.roadmap-section h1{
    margin-bottom: 2rem;
}
.roadmap-section img:nth-child(1){
    width: 100%;
    margin-top: 2rem;
}
.roadmap-section img{
    width: 100%;
}

/* +++++++++++++++++++++++++++++++++++ shradha dii section - SECTION +++++++++++++++++++++++++++++ */
.shradha-dii-section{
    width: 100%;
    max-width: 1400px;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #f4f5ff;
}
.shradha-dii-upper-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.img-portion{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("images/shradha\ dii.jpg");
    background-position: center;
    background-size: cover;
}
.shradha-dii-upper-section h4{
    color: #6674CC;
}

.shradha-dii-lower-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.shradha-dii-lower-section-company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
}
#apna-college-section{
    gap: 0;
}
#apna-college-logo{
    width: 100px;
    height: 70px;
    /* border: 1px solid red; */
    display: inline-block;
    padding: 0;
}

/* +++++++++++++++++++++++++++++++++++ certificate section - SECTION +++++++++++++++++++++++++++++ */
.certificate-section{
    width: 100%;
    max-width: 1400px;
    padding: 4rem 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--gray);
    gap: 1rem;
    /* border: 2px solid green; */
}
.certificate-left-section{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: center; */
    text-align: left;
    gap: 1rem;
    padding: 1rem;
    /* border: 2px solid red; */
}
.certificate-text-point{
    display: flex;
    justify-content: left;
    /* align-items: center; */
    gap: 1rem;
    /* border: 2px solid red; */
    /* border: 2px dotted blue; */
}
.certificate-text-point img{
    width: 30px;
    height: 30px;
    /* border: 2px solid red; */
}
.certificate-text{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    /* align-items: center; */
    gap: 0.5rem;
    /* border: 2px solid blue; */
}
.certificate-left-section a{
    margin-top: 2rem;
}
.certificate-right-section{
    position: relative;
    /* border: 2px solid green;/ */
    justify-content: right;
    align-items: flex-end;
    padding: 1rem;
    /* border: 2px solid red; */

}
.certificate-right-section img{
    position: absolute;
    top: 0%;
    right: 0%;
    /* border: 2px solid red; */
    width: 400px;
}

/* +++++++++++++++++++++++++++++++++++ footer section - SECTION +++++++++++++++++++++++++++++ */
#footer{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 3rem;
    /* background-color:#f7f7fe; */
}
#footer h3{
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}
.footer-upper-section{
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.footer-upper-section-column{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#footer-column1{
    gap: 0rem;
}
#footer-column1 img{
    width: 100px;
}
.helpful-links-points{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
#footer-column3 div{
    gap: 0.5rem;
}
#footer-column3 div img{
    width: 22px;
    height: 22px;
}
.footer-lower-section{
    padding: 1rem;
    text-align: center;
}